@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.draggable {
  -webkit-user-select: none;
  user-select: none;
  -webkit-app-region: drag;
}

.non-draggable {
  -webkit-user-select: none;
  user-select: none;
  -webkit-app-region: none;
}

.main-content {
  animation: fadein 200ms;
  -webkit-animation: fadein 200ms;
  opacity: 1;
}

@keyframes fadein {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}