@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
.draggable {
    -webkit-app-region: drag;
}

.topbar {
    position: sticky;
    z-index: 999;
}

body {
    font-family: "Montserrat", sans-serif;
    user-select: none;
    text-align: center;
    overflow-x: hidden;
}

html {
    height: 100%;
}

textarea:focus,
input:focus {
    outline: none;
}

#navbar {
    position: sticky;
    top: 0px;
    z-index: 100;
}

select:-webkit-scrollbar {
    /*For WebKit Browsers*/
    width: 0;
    height: 0;
    display: none;
}

select {
    scrollbar-width: none;
    /*For Firefox*/
    ;
    -ms-overflow-style: none;
    /*For Internet Explorer 10+*/
    ;
}

.fade-in {
    animation: fadein 0.3s;
    -webkit-animation: fadein 0.3s;
    opacity: 1;
}

@keyframes fadein {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}