#loader {
    transition: all 0.3s ease-in-out;
    opacity: 1;
    visibility: visible;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: rgb(32, 32, 32);
    display: grid;
    justify-content: center;
}

#loader.fadeOut {
    opacity: 0;
    visibility: hidden;
}