::-webkit-scrollbar {
    position: static;
    top: 400px;
    background: rgb(38, 50, 66);
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: rgb(27, 35, 46);
    border-radius: 180px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: rgb(25, 27, 31);
}

::-webkit-scrollbar-track {
    margin-top: 4vh;
}